{{- if .Values.infrastructure.kafka.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "integr8scode.fullname" . }}-kafka-jaas
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "integr8scode.labels" . | nindent 4 }}
type: Opaque
stringData:
  kafka_jaas.conf: |
{{ .Files.Get "files/kafka_jaas.conf" | indent 4 }}
{{- end }}
