{{- if .Values.infrastructure.zookeeper.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "integr8scode.fullname" . }}-zookeeper-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "integr8scode.labels" . | nindent 4 }}
data:
  zoo.cfg: |
    tickTime=2000
    dataDir=/var/lib/zookeeper/data
    dataLogDir=/var/lib/zookeeper/log
    clientPort=2181
    serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
    authProvider.1=org.apache.zookeeper.server.auth.DigestAuthenticationProvider
    autopurge.snapRetainCount=3
    autopurge.purgeInterval=24
    admin.enableServer=false
    admin.serverPort=0
    4lw.commands.whitelist=*
  log4j.properties: |
    log4j.rootLogger=WARN, CONSOLE
    log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
    log4j.appender.CONSOLE.Threshold=WARN
    log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
    log4j.appender.CONSOLE.layout.ConversionPattern=%d{ISO8601} [myid:%X{myid}] - %-5p [%t:%C{1}@%L] - %m%n
{{- end }}
