name: Docker Build & Scan

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  docker:
    name: Docker Build & Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build base image
        run: |
          docker build -f ./backend/Dockerfile.base -t integr8scode-base:latest ./backend

      - name: Build Docker image
        run: |
          DOCKER_BUILDKIT=1 docker build \
            --build-context base=docker-image://integr8scode-base:latest \
            -t integr8scode:test \
            ./backend
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'integr8scode:test'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          timeout: '5m0s'